h1 Welcome to CommentFace
h6 The next big thing in anti-social behavior

hr

.comments
  - @comments.each do |comment|
    = render 'comments/show', :comment => comment

h2 Post a New Comment

= render 'form'
